absl-py
anyascii
asttokens
astunparse
blinker
category-encoders
certifi
charset-normalizer
click
colorama
comm
contourpy
contractions
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
executing
Flask
flatbuffers
fonttools
gast
google-pasta
grpcio
gunicorn
h5py
idna
imbalanced-learn
importlib_metadata
inexactsearch
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
namex
nest-asyncio
nltk
numpy
opt-einsum
optree
packaging
pandas
parso
patsy
pillow
platformdirs
plotly
prompt-toolkit
protobuf
psutil
pure-eval
pyahocorasick
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
regex
requests
retrying
rich
scikeras
scikit-learn
scipy
seaborn
silpa-common
six
soundex
spellchecker
stack-data
statsmodels
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
textsearch
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wrapt
zipp
